.div-card-Gentrada{
  width: 96%;
  height: 95%;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center
}
.linhaTexto-Gentrada{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.h1-Gentrada{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 500;
  font-size: 2.2em
}
.div-cabecalho-Gentrada{
  margin-top: 10px;
  width: 90%;
  background-color: #FAFAFA;
  height: 60px;
  display: flex;
  align-items: center
}
.div-produto-Gentrada{
  width: 42%;
  display: flex;
  align-items: center;
}
.div-usuario-Gentrada{
  width: 33%;
  display: flex;
  align-items: center;
}
.div-data-Gentrada{
  width: 22%;
  display: flex;
  align-items: center;
}
.cel-produto-cabecalho-Gentrada{
  align-items: center;
  cursor: pointer;
  display: flex;
  width: 42%;
  height:30px;
  font-size: 1.0em ;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.cel-usuario-cabecalho-Gentrada{
  align-items: center;
  display: flex;
  width: 27%;
  height:30px;
  font-size: 1.0em ;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.cel-quant-cabecalho-Gentrada{
  align-items: center;
  display: flex;
  width: 15%;
  height:30px;
  font-size: 1.0em ;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.cel-Gentrada-cabecalho-Gentrada{
  align-items: center;
  display: flex;
  width: 20%;
  height:30px;
  font-size: 1.0em ;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.cel-data-cabecalho-Gentrada{
  align-items: center;
  display: flex;
  width: 15%;
  height:30px;
  font-size: 1.0em ;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.div-lines-Gentrada{
  width: 90%;
  display: flex;
  height: 50px;
  align-items: center
}
.div-separate-Gentrada{
  width: 90%;
  background-color: rgb(221, 219, 219);
  height: 1px;
}
.footer-Gentrada-button{
  margin-top: 10px;
  width: 85%;
  display: flex;
  justify-content: flex-end;
}
.div-teste{
  color: rgba(36, 35, 35, 0.6) !important;
  width: 37.8px;
  display: flex;
  align-items: center;
  justify-content: center
}
.div-table-label-cel-Gentrada{
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.spin{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.div-lines-Gentrada{
  width: 100%;
  display: flex;
  height: 50px;
  align-items: center
}
.div-separate-Gentrada{
  width: 90%;
  background-color: rgb(221, 219, 219);
  height: 1px;
}
.div-separate1-Gentrada{
  width: 100%;
  background-color: rgb(221, 219, 219);
  height: 1px;
}
.div-100-Gentrada{
  width: 90%;
  display: flex;
  flex-direction: column
}
